<template name="ticketEdit">
  {{> cameraEvent}}
  {{> libraryEvent}}
  {{> img}}
  <a class="btn btn-danger delete" href="#">Delete Ticket</a>

<form class="photo-info">
		<div>
			<label class="control-label" for="venue">Band</label>
			<input name="band" id="band" type="text" value="" placeholder="Band"/>
		</div>
		<div>
			<label class="control-label" for="Tour">Tour</label>
			<input name="tour" id="tour" type="text" value="" placeholder="Tour"/>
		</div>
		<div>
			<label class="control-label" for="Year">Year</label>
			<input name="year" id="year" type="text" value="" placeholder="Year"/>
		</div>
		
		<button>Submit</button>
	</form>

</template>