<template name="addTicket">
    <!-- <form class= "main form page"> -->
      <div class = "form-group">
      <!--   <label class= "control-label" for= "band">Band(s)</label>
        <div class= "controls">
          <input name = "band" id="band" type="text" value = "" placeholder="Band(s)" class= "form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class ="control-label" for= "tour">Tour</label>
        <div class = "controls">
          <input name = "tour" id="tour" type="text" value = "" placeholder="Tour" class ="form-control"/>
        </div>
      </div>
      <div class = "form-group">
        <label class = "control-label" for= "year">Year</label>
        <div class = "controls">
          <input name = "year" id="year" type="text" value = "" placeholder="Year" class = "form-control"/>
        </div>
      </div> -->
           {{> cameraEvent}}
           {{> libraryEvent}}
           {{> img}}
        </div>
     <!--  </div> -->
        <input type="submit" value="Submit" class= "btn btn-primary"/>
 <!--    </form> -->
</template>














